/**********************************************************************************************************
    Body Styles 
**********************************************************************************************************/
body {
    color: #000000;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Montserrat', sans-serif;
   /* font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;*/
    letter-spacing: 1.75px;
    position: relative;
}

/**********************************************************************************************************
    Nav Bar styles
**********************************************************************************************************/    
.nav-styles {
    background-color: white !important;
    font-size: 0.8rem;
    padding-left:5px !important;
}

.nav-styles li {
    background-color: white !important;
    font-size: 0.8rem;
    font-weight: 700;
}

.nav-styles .nav-link-styles {
    color: black !important;
}
.nav-styles .nav-link-styles:hover {
    color: rgb(227, 122, 54) !important;
}

.nav-styles .nav-link-styles:active {
    color: rgb(227, 122, 54) !important; 
}

/**********************************************************************************************************
    Logo Image styles
**********************************************************************************************************/    
.logo-image {
    width: 147px;
    height: 48px;
}

/**********************************************************************************************************
    Home section styles
**********************************************************************************************************/    

@media screen and (max-width: 900px) {
    #home-section {
        background: url("../images/home-section.jpg") no-repeat;
        max-height: 500px;
        background-size: contain ;
    }

    #home-section .home-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 500px;
    }
}

#home-section {
    background: url("../images/home-section.jpg") no-repeat;
    min-height: 700px;
    background-size: cover;
}

#home-section .home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; 
}

#home-section .home-inner {
    padding-top: 150px; 
    color: white;
}

#home-section h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900 !important;
}

#home-section h1 {
    background-color: rgb(227, 122, 54);
    font-weight: 900 !important;
    text-shadow: 2px 0 white;
}

/**********************************************************************************************************
    About Us Section Styles
**********************************************************************************************************/    
#about-us-section .about-h6{
    font-size: 0.8rem !important;
}

#about-us-section .about-us-text{
    font-size: 0.8rem !important;
}

@media screen and (max-width: 900px) {
    #about-us-section .about-us-text{
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}

/**********************************************************************************************************
    Benefit Section Styles
**********************************************************************************************************/    
#benefits-section {
    background-color: #F5F5F5;
    padding-top: 120px !important;
}

#benefits-section .benefits-h6{
    font-size: 0.8rem !important;
}

#benefits-section .benefits-text{
    font-size: 0.8rem !important;
}

#benefits-section i{
    font-size: 2rem !important;
    -webkit-text-stroke: 2px #F5F5F5;
}

#benefits-section a {
    background-color: rgb(223, 152, 28);
    color: white;
    text-transform: uppercase;
    border-radius: 0% !important;
    font-size: 0.8rem;
    font-weight: bold;
}

#benefits-section a:visited {
    background-color: rgb(223, 152, 28);
    color: white;
    text-transform: uppercase;
    border-radius: 0% !important;
    font-size: 0.8rem;
    font-weight: bold;
}


/**********************************************************************************************************
    How solar works section styling
**********************************************************************************************************/ 
@media screen and (min-width: 900px) {
    #how-solar-works-section .how-panels-work {
        background-color: #F5F5F5;
        color: black;
        z-index: 0;
        min-width: 100%;
        position: relative;
        left: -10%;
        padding-left: 250px !important;
    }

    #how-solar-works-section .what-made-of {
        background-color:  rgb(37,37,37);
        color: white;
        z-index: 1;
        position: relative;
        left: 7%;
        padding-top: 100px !important;
        padding-right: 170px !important;
    }
    
    #how-solar-works-section .workman-image {
        -moz-box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.2);
        box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.2); 
        z-index: 2;
        width: auto;
        position: relative;
        top: 7%;
        left:30%;
    }

    #how-solar-works-section .workshop-image {
        -moz-box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.2);
        box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.2); 
        z-index: 3 !important;
        width: auto;
        position: relative;
        left: -10%;
        top: 15%;
        height: auto;
    }

}

#how-solar-works-section .how-panels-work {
    background-color: #F5F5F5;
    color: black;
}

#how-solar-works-section .what-made-of {
    background-color:  rgb(37,37,37);
    color: white;
}

/**********************************************************************************************************
    Partners Section Styles
**********************************************************************************************************/ 
#partners-section .partners {
    max-width: 100% !important;
}

/**********************************************************************************************************
    Contact Us Section Styles
**********************************************************************************************************/    
#contact-us-section {
    background-color: #F5F5F5;
}

#contact-us-section .form-control-design {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom: 1px solid rgb(68,68,68);
    border-radius: 0%;
}

#contact-us-section .form-control-design:active :focus {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom: 1px solid rgb(223, 152, 28);
    border-radius: 0%;
    box-shadow: none !important;
}

#contact-us-section .form-control-design:focus {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom: 1px solid rgb(223, 152, 28);
    border-radius: 0%;
    box-shadow: none !important;
}

#contact-us-section textarea {
    resize: none;
    height: 175px;
}

#contact-us-section button {
    background-color: rgb(223, 152, 28);
    color: white;
    text-transform: uppercase;
    border-radius: 0%;
}

/**********************************************************************************************************
    Footer Styles
**********************************************************************************************************/    
#footer-section {
    background-color: rgb(37,37,37);
    color: white;
}

#footer-section .copyright-section {
    border-top: rgb(59,59,59) solid 1px;
}

/**********************************************************************************************************
    Social Icons Styling
**********************************************************************************************************/    
#footer-section .social-link {
    padding: 6px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgb(164, 174, 176);
    text-align: center;
    color: rgb(164, 174, 176) !important;
    font-size: 0.70em;
    text-align: center;
} 

#footer-section .social-link:hover {
    color: rgb(223, 152, 28)  !important;
    border: 1px solid rgb(223, 152, 28) ;
}

#footer-section .footer-col-1-text {
    color: rgb(164, 174, 176) !important;
    font-size: 0.7rem;
}

#footer-section .contact-us-orange {
    font-family: 'Barlow Condensed', sans-serif;
    color:rgb(223, 152, 28) !important;
    font-weight: bold;
}

#footer-section .recent-work {
    background-color: white;
    height: 70px;
    width: 70px;
    margin: 10px;
}
